.header{

    padding:32px 36px;

    background:white;

    border-bottom:1px solid var(--border);

}

.header-top{

    display:flex;

    align-items:center;

    margin-bottom:18px;

}

.back-btn{

    width:42px;

    height:42px;

    border:none;

    border-radius:12px;

    background:#EEF5FF;

    color:var(--primary);

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.25s;

}

.back-btn:hover{

    background:var(--primary);

    color:white;

}

.header h1{

    font-size:34px;

    margin-bottom:8px;

}

.header p{

    color:var(--sub);

}