.card{

    background:white;

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    transition:.25s;

}

.card:hover{

    transform:translateY(-5px);

    box-shadow:var(--shadow-hover);

}