.home{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:70vh;

}

.home-container{

    width:100%;

    max-width:700px;

    text-align:center;

}

.home-description{

    margin:50px 0;

    line-height:2;

    color:var(--sub);

    font-size:18px;

}