.page{

    width:min(1180px,92%);

    margin:auto;

}

.section{

    margin-top:70px;

}

.section-title{

    font-size:28px;

    font-weight:700;

    margin-bottom:28px;

}

.section-sub{

    color:var(--subtext);

    margin-top:8px;

}