:root{

    --primary:#0F6FFF;
    --primary-light:#EAF3FF;

    --background:#F7FAFC;
    --surface:#FFFFFF;

    --text:#1F2937;
    --subtext:#64748B;

    --border:#E5E7EB;

    --radius:20px;

    --shadow:
        0 10px 30px rgba(15,111,255,.08);

    --shadow-hover:
        0 18px 40px rgba(15,111,255,.18);

}